name: CI

on:
  push:
    branches: ['**']
  pull_request:
    branches: [main]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: '20'

      - name: Setup pnpm
        uses: pnpm/action-setup@eae0cfeb286e66ffb5155f1a79b90583a127a68b # v2
        with:
          version: 8

      - name: Install dependencies
        working-directory: ./web
        run: pnpm install

      - name: Type-check
        working-directory: ./web
        run: pnpm run type-check

      - name: Lint
        working-directory: ./web
        run: pnpm run check

      - name: Dead code detection
        working-directory: ./web
        run: pnpm run dead-code

      - name: Tests with coverage
        working-directory: ./web
        run: pnpm run test:coverage
